.DS_Store
notebooks/.DS_Store
notebooks/*.pkl
ref
_build
*~
*.sh
myenv

notebooks/Observable_DMD.ipynb
notebooks/noisy_simulations.ipynb
notebooks/dev_QuantumKrylov.ipynb
notebooks/fig1c.ipynb
notebooks/norm_QKrylov_check.ipynb
reference_*

venv